@using Resources = App_GlobalResources.Resources;

<h1 class="h1ForTitle"> Номенклатура "@Resources.Layout.MeasuringPointConfig"</h1>
<br />
<div class="row">
    <article>
        <section>
            <hr class="hrUnderText" />
            <p>Обработването на Номенклатури се избира от меню, показано на Фиг.1. </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded imgboxshadow" src="~/Content/images/Nomenclature/Figua183.png" /></p>
                <p>Фиг.1</p>
            </div>
            <p>Отваря се екран, съдържащ основното меню "Управление на номенклатури", показан на Фиг.2.</p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded imgboxshadow" src="~/Content/images/Nomenclature/Figua184.png" /></p>
                <p>Фиг.2</p>
            </div>
            <br />
            <p>
                Номенклатура <span class="stronged">"@Resources.Layout.MeasuringPointConfig"</span> се намира в <span class="stronged">
                    подменю "@Resources.Layout.Transactions"
                </span> и се избира по начин, показан на Фиг.3.
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded imgboxshadow" src="~/Content/images/Nomenclature/Transactions/MeasuringPointConfig/Figura1.png" /></p>
                <p>Фиг.3</p>
            </div>
            <p>
                Отваря се таблица, съдържаща номенклатурата "@Resources.Layout.MeasuringPointConfig". Тя визуализира всички въведени до сега измервателни точки.
                Част от таблицата е показана на Фиг.4.
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded imgboxshadow" src="~/Content/images/Nomenclature/Transactions/MeasuringPointConfig/Figura2.png" style="width:96%;" /></p>
                <p>Фиг.4</p>
            </div>
            <p>
                В номенклатурата има възможност за добавяне на нова измервателна точка, редактиране на съществуваща измервателна точка и изтриване на
                съществуваща измервателна точка.
            </p>
            <p>
                <span class="stronged"> Нов запис</span> в номенклатурата се въвежда чрез бутон <span>
                    <img class="img-rounded imgboxshadow" src="~/Content/images/DailyData/Add.png" />
                </span>
                , намиращ се в горния ляв ъгъл на таблицата. Отваря се един допълнителен ред над всички останали редове, в който се прави добавянето.
                Попълват се колоните, оградени в син и сив правоъгълник.
            </p>
            <p>
                Aко някое от полетата остане непопълнено, а то е задължително, то при избиране на бутон <span><img class="img-rounded" src="~/Content/images/Shiftdata/save.png" /></span>
                се визуализира под полето съобщение, че полето трябва да съдържа стойност, както е показано на Фиг.6.
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded imgboxshadow" src="~/Content/images/Nomenclature/Transactions/MeasuringPointConfig/Error.png" /></p>
                <p>Фиг.6</p>
            </div>
            <p>Изборът в поле "Идентификатор на зона" става от падащо меню, както е показано на Фиг.7. В падащото меню, в полето за търсене може да се изпише и конкретна стойност за търсене.</p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded imgboxshadow" src="~/Content/images/Nomenclature/Transactions/MeasuringPointConfig/Filter.png" /></p>
                <p>Фиг.7</p>
            </div>
            <p>След като бъдат попълнени задължителните колони се избира бутон  <span><img class="img-rounded" src="~/Content/images/Shiftdata/save.png" /></span> и новият запис се визуализира на последния ред в таблицата.</p>
            <p>
                <span class="stronged"> Редактиране на съществуващ запис</span> в номенклатурата може да се прави чрез избор на бутон  <span><img class="img-rounded" src="~/Content/images/Shiftdata/edit.png" />.</span>
                Колоните се ограждат в син и сив правоъгълник, както е показано на Фиг.8, прави се необходимата корекция и се избира
                бутон  <span><img class="img-rounded" src="~/Content/images/Shiftdata/save.png" /></span> .
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded imgboxshadow" src="~/Content/images/Nomenclature/Transactions/MeasuringPointConfig/Figura3.png" /></p>
                <p>Фиг.8</p>
            </div>
            <p>
                <span class="stronged"> Изтриване на запис</span> от номенклатурата става чрез избор на бутон  <span><img class="img-rounded" src="~/Content/images/Shiftdata/erase.png" /></span>.
                При избиране на бутона се появява следният екран:
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded imgboxshadow" src="~/Content/images/Nomenclature/Iztriv.png" /></p>
                <p>Фиг.9</p>
            </div>
            <p>
                Потребител с присъединена роля <span class="stronged">"Administrator"</span> или <span class="stronged">"HistoryManager"</span> може да види всяка направена промяна
                в таблицата. Тя се вижда след избиране на съдържанието на определена колона. Отваря се екран, съдържащ информация кой, кога и какви промени
                е правил в таблицата, както e показано на Фиг.10.
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded imgboxshadow" src="~/Content/images/Nomenclature/Transactions/MeasuringPointConfig/history.png" /></p>
                <p>Фиг.10</p>
            </div>
            <p>
                Когато номенклатура "@Resources.Layout.MeasuringPointConfig" е много голяма и не се събира на един екран, тя се прехвърля на следващи екрани
                като преминаването между различните екрани става чрез бутоните, показани на Фиг.11.
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded" src="~/Content/images/ShiftData/Figura63.png" /></p>
                <p>Фиг.11</p>
            </div>
            <p>
                Данните за номенклатура "@Resources.Layout.MeasuringPointConfig" могат да бъдат само експортирани в Excel чрез бутон
                <span><img class="img-rounded btnApply" src="~/Content/images/Shiftdata/Export.png" /></span>, който се намира в най-горния ляв ъгъл на таблицата, съдържаща номенклатурата .
            </p>
        </section>
        <br />

        <hr class="hrUnderText" />
        <div class="container" style="margin-left:18em;">
            <div class="col-md-1 divimage">
                <img src="~/Content/Images/ShiftData/technical_stuff.gif" class="imgForStuff" />
            </div>
            <div class="col-md-11 ForStuff">
                <h4 style="text-align:center">Кой има право да обработва Номенклатурa "@Resources.Layout.MeasuringPointConfig" ?</h4>
                <p>
                    Право за обработване на Номенклатурa "@Resources.Layout.MeasuringPointConfig" има потребител с присъединена роля <span class="stronged">"NomManager"</span>.
                </p>
            </div>
        </div>
        <br />
        <hr class="hrUnderText" />
    </article>
</div>

