@using Resources = App_GlobalResources.Resources;

<h1 class="h1ForTitle"> Номенклатура "@Resources.HelpResource.NomDirection"</h1>
<br />
<div class="row">
    <article>
        <section>
            <hr class="hrUnderText" />
            <p>Обработването на Номенклатури се избира от меню, показано на Фиг.1. </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded imgboxshadow" src="~/Content/images/Nomenclature/Figua183.png" /></p>
                <p>Фиг.1</p>
            </div>
            <p>Отваря се екран, съдържащ основното меню "Управление на номенклатури", показан на Фиг.2.</p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded imgboxshadow" src="~/Content/images/Nomenclature/Figua184.png" /></p>
                <p>Фиг.2</p>
            </div>
            <br />
            <p>
                Номенклатура <span class="stronged">"@Resources.HelpResource.NomDirection"</span> се намира в <span class="stronged">подменю "Номенклатури"</span> и се избира
                по начин, показан на Фиг.3.
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded imgboxshadow" src="~/Content/images/Nomenclature/NomDirection/Figura1.png" /></p>
                <p>Фиг.3</p>
            </div>
            <p>
                Отваря се таблица, съдържаща номенклатурата "@Resources.HelpResource.NomDirection". Тя визуализира всички въведени до сега типове посоки.
                Таблицата е показана на Фиг.4.
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded imgboxshadow" src="~/Content/images/Nomenclature/NomDirection/Figura2.png" /></p>
                <p>Фиг.4</p>
            </div>
            <p>
                В номенклатурата има възможност за добавяне на нов тип посока, редактиране на съществуващ тип посока и изтриване на съществуващ тип посока.
            </p>
            <p>
                <span class="stronged"> Нов запис</span> в номенклатурата се въвежда чрез бутон <span>
                    <img class="img-rounded imgboxshadow" src="~/Content/images/DailyData/Add.png" />
                </span>
                , намиращ се в горния ляв ъгъл на таблицата. Отваря се един допълнителен ред над всички останали редове, в който се прави добавянето.
                Името на новия тип посока се пише в колона „Наименование“, оградена в син правоъгълник, както е показано на Фиг.5.
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded imgboxshadow" src="~/Content/images/Nomenclature/NomDirection/Figura3.png" /></p>
                <p>Фиг.5</p>
            </div>
            <p>Избира се бутон  <span><img class="img-rounded" src="~/Content/images/Shiftdata/save.png" /></span> и новият запис се визуализира на последния ред в таблицата.</p>
            <p>
                <span class="stronged"> Редактиране на съществуващ запис</span> в номенклатурата може да се прави чрез избор на бутон  <span><img class="img-rounded" src="~/Content/images/Shiftdata/edit.png" />.</span>
                Колона „Наименование“ се огражда в син правоъгълник, както е показано на Фиг.6, прави се необходимата корекция и се избира
                бутон  <span><img class="img-rounded" src="~/Content/images/Shiftdata/save.png" /></span> .
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded imgboxshadow" src="~/Content/images/Nomenclature/NomDirection/Figura4.png" /></p>
                <p>Фиг.6</p>
            </div>
            <p>
                <span class="stronged"> Изтриване на запис</span> от номенклатурата става чрез избор на бутон  <span><img class="img-rounded" src="~/Content/images/Shiftdata/erase.png" /></span>.
                При избиране на бутона се появява следният екран:
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded imgboxshadow" src="~/Content/images/Nomenclature/Iztriv.png" /></p>
                <p>Фиг.7</p>
            </div>
            <p>
                Потребител с присъединена роля <span class="stronged">"Administrator"</span> може да види всяка направена промяна в колона „Наименование“. Тя се вижда след избиране
                на съдържанието на колоната, както e показано на Фиг.8. Отваря се екран, съдържащ информация кой, кога и какви промени е правил върху колона “Наименование“.
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded imgboxshadow" src="~/Content/images/Nomenclature/NomDirection/Figura5.png" /></p>
                <p>Фиг.8</p>
            </div>
            <p>
                Когато номенклатура "@Resources.HelpResource.NomDirection" е много голяма и не се събира на един екран, тя се прехвърля на следващи екрани
                като преминаването между различните екрани става чрез бутоните, показани на Фиг.9.
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded" src="~/Content/images/ShiftData/Figura63.png" /></p>
                <p>Фиг.9</p>
            </div>
            <p>
                Данните за номенклатура "@Resources.HelpResource.NomDirection" могат да бъдат само експортирани в Excel чрез бутон
                <span><img class="img-rounded btnApply" src="~/Content/images/Shiftdata/Export.png" /></span> .
            </p>
        </section>
        <br />

        <hr class="hrUnderText" />
        <div class="container" style="margin-left:18em;">
            <div class="col-md-1 divimage">
                <img src="~/Content/Images/ShiftData/technical_stuff.gif" class="imgForStuff" />
            </div>
            <div class="col-md-11 ForStuff">
                <h4 style="text-align:center">Кой има право да обработва Номенклатурa "@Resources.HelpResource.NomDirection" ?</h4>
                <p>
                    Право за обработване на Номенклатурa "@Resources.HelpResource.NomDirection" има потребител с присъединена роля <span class="stronged">"NomManager"</span>.
                </p>
            </div>
        </div>
        <br />
        <hr class="hrUnderText" />
    </article>
</div>

