<h1 class="h1ForTitle">Сменни данни за измервателни позиции</h1>
    <br />
    <div class="row">
        <article>
            <section>
                <hr class="hrUnderText" />
                <p>Сменните данни за измервателни позиции се избират от меню <span class="stronged">Сменни данни -> Сменни данни за измервателни позиции,</span> показано на Фиг.1: </p>
                <div class="centeredDivForImages">
                    <p><img class="img-rounded" src="~/Content/images/Shiftdata/Fig4A.png" /></p>
                    <p>Фиг.1</p>
                </div>
                <p> Отваря се екран, съдържащ в ляво таблица „Параметри на отчета“ и в дясно таблица „Сменни данни за измервателни позиции“. </p>
                <p> Таблица „Параметри на отчета“ е показана на Фиг.2.</p>
                <div class="centeredDivForImages">
                    <p><img class="img-rounded" src="~/Content/images/Shiftdata/figura5.png" style="width:20%;" /></p>
                    <p>Фиг.2</p>
                </div>
                    <br />
            </section>
            <section>
                <p>В таблицата се съдържат параметри на отчета, които задължително трябва да се попълнят, а именно:</p>
                <ul>
                   <li>Производство;</li>
                    <li>Инсталация;</li>
                    <li>Дата;</li>
                    <li>Смяна.</li>
                </ul>
                <p> Ако се натисне бутона <span><img class="img-rounded btnApply" src="~/Content/images/Shiftdata/butonPrilogi.png" /></span> и горепосочените полета не са въведени се извежда следното съобщение за грешка:</p>
                <div class="centeredDivForImages">
                    <p><img class="img-rounded" src="~/Content/images/Shiftdata/figura6.png" /></p>
                    <p>Фиг.3</p>
                </div>
            </section>
            <section>
                <p> Необходимо е да се въведат всички полета в таблица „Параметри на отчета“. Изборът в поле „Производство“ става от падащо меню, показан на Фиг.4: </p>
                <div class="centeredDivForImages">
                    <p><img class="img-rounded" src="~/Content/images/Shiftdata/figura7.png" /></p>
                    <p>Фиг.4</p>
                </div>
                <p>Изборът в поле „Инсталация“ става от падащо  меню, показан на Фиг.5</p>
                <div class="centeredDivForImages">
                    <img class="img-rounded" src="~/Content/images/Shiftdata/figura7A.png" />
                    <p>Фиг.5</p>
                </div>
                <span class="stronged">Всеки потребител вижда само имената на инсталациите, които са му присъединени към акаунта, с който влиза в системата.</span>
                <p>Изборът в поле „Дата“ става както е показано на Фиг.6:</p>
                <div class="centeredDivForImages">
                    <img class="img-rounded" src="~/Content/images/Shiftdata/figura8.png" />
                    <p>Фиг.6</p>
                </div>
                <p>Изборът в поле „Смяна“ става както е показано на Фиг.7:</p>
                <div class="centeredDivForImages">
                    <p><img class="img-rounded" src="~/Content/images/Shiftdata/figura9.png" /></p>
                    <p> Фиг.7</p>
                </div>
            </section>
            <section>
                <p>
                    След като бъдат въведени всички полета в таблица „Параметри на отчета“ се натиска бутон
                    <span><img class="img-rounded btnApply" src="~/Content/images/Shiftdata/butonPrilogi.png" /></span>.Появява  се следният екран:
                </p>
                <div class="centeredDivForImages">
                    <p><img class="img-rounded MaxWidthForTable" src="~/Content/images/Shiftdata/figura11.png" /></p>
                    <p> Фиг.8</p>
                </div>
                <p>Таблицата съдържа информация, която е необходима за изготвянето на сменния отчет за измервателните позиции в края на всяка смяна.</p>
                <p>
                    Редовете на таблицата мигат в цвят <span class="stronged">червен</span>, когато достоверността на извлечените данни от дадената измервателна позиция в реда
                    е по-малка от  <span class="stronged">50 % от доверителния диапазон. </span>
                </p>
                <p>Мигащите редове в червен цвят са показани на Фиг.8А:</p>
                <br />
                <div class="centeredDivForImages">
                    <table role="grid" class="tablebordered" style="margin-left:120px;">
                        <colgroup>
                            <col class=" k-group-col tablebordered" style="width:30px">
                        <col style="width:80px" class="tablebordered">
                        <col style="width:110px" class="tablebordered">
                        <col style="width:320px" class="tablebordered">
                        <col style="width:170px" class="tablebordered">
                        <col style="width:100px" class="tablebordered">
                        <col style="width:20px" class="tablebordered">
                        <col style="width:110px" class="tablebordered">
                        <col style="width:90px" class="tablebordered">
                        <col style="width:180px" class="tablebordered">

                        </colgroup>
                        <thead role="rowgroup" class="tablebordered">
                            <tr role="row" class="tablebordered" style="background-color:#f4f4f4">
                                <th class="k-header k-filterable k-with-icon"> </th>
                                <th class="k-header k-filterable k-with-icon"> Код</th>
                                <th class="k-header k-filterable k-with-icon">Инсталация </th>
                                <th class="k-header k-filterable k-with-icon"> Наим-е поток  </th>
                                <th class="k-header k-filterable k-with-icon"> Позиция  </th>
                                <th class="k-header k-filterable k-with-icon">Мерна единица</th>
                                <th class="k-header k-filterable k-with-icon">Начин на постъпване </th>
                                <th class="k-header k-filterable k-with-icon">Автоматична стойност </th>
                                <th class="k-header k-filterable k-with-icon">Ръчна стойност </th>
                                <th class="k-header k-filterable k-with-icon">Причина за постъпване </th>
                            </tr>
                        </thead>
                        <tbody role="rowgroup" class="tablebordered">
                            <tr role="row" class="k-grouping-row tablebordered">
                                <td colspan="10" aria-expanded="true" class="tablebordered" style="background-color:#f4f4f4"><p class="k-reset"><a class="k-icon k-i-collapse" href="#" tabindex="-1"></a>01 Входни потоци</p></td>
                            </tr>
                            <tr data-uid="ddcccb46-7ed9-4701-b934-6853904d7497" role="row" class="error-animation">
                                <td class="k-group-cell tablebordered">&nbsp;</td>
                                <td role="gridcell" class="tablebordered">1P0100</td>
                                <td style="display:none;" role="gridcell"><span class="stronged">01 Входни потоци</span></td>
                                <td role="gridcell" class="tablebordered">КР-1</td>
                                <td role="gridcell" class="tablebordered">СУРОВ Б-Н ВХ</td>
                                <td role="gridcell" class="tablebordered">200FQR003A</td>
                                <td role="gridcell" class="tablebordered">Тон</td>
                                <td role="gridcell" class="tablebordered">A</td>
                                <td role="gridcell" class="tablebordered"><div style="text-align:left;">588,734</div></td>
                                <td role="gridcell" class="tablebordered"><div style="text-align:left;">588,734</div></td>
                                <td role="gridcell" class="tablebordered">
                                    <div class="col-xs-2 no-horisontal-padding">
                                        <div class="bg-ok"></div>
                                    </div><div class="col-xs-9 no-horisontal-padding reason">Автоматично зареждане</div>
                                </td>
                                <td role="gridcell" class="tablebordered"></td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <p> Фиг.8A</p>
                </div>
                <br />
                <p>
                    Редовете на таблицата мигат в цвят <span class="stronged">жълт</span>, когато достоверността на извлечените данни от дадената измервателна позиция в реда е
                    в диапазон от <span class="stronged"> 100% до 50% от доверителния диапазон. </span>
                </p>
                <p>Мигащите редове в жълт цвят са показани на Фиг.8Б:</p>
                <br />
                <div class="centeredDivForImages">
                    <table role="grid" class="tablebordered" style="margin-left:120px;">
                        <colgroup>
                            <col class="k-group-col tablebordered" style="width:30px">
                            <col style="width:80px" class="tablebordered">
                            <col style="width:110px" class="tablebordered">
                            <col style="width:320px" class="tablebordered">
                            <col style="width:170px" class="tablebordered">
                            <col style="width:100px" class="tablebordered">
                            <col style="width:20px" class="tablebordered">
                            <col style="width:110px" class="tablebordered">
                            <col style="width:90px" class="tablebordered">
                            <col style="width:180px" class="tablebordered">

                        </colgroup>
                        <thead role="rowgroup" class="tablebordered">
                            <tr role="row" class="tablebordered" style="background-color:#f4f4f4">
                                <th class="k-header k-filterable k-with-icon"> </th>
                                <th class="k-header k-filterable k-with-icon"> Код</th>
                                <th class="k-header k-filterable k-with-icon">Инсталация </th>
                                <th class="k-header k-filterable k-with-icon"> Наим-е поток  </th>
                                <th class="k-header k-filterable k-with-icon"> Позиция  </th>
                                <th class="k-header k-filterable k-with-icon">Мерна единица</th>
                                <th class="k-header k-filterable k-with-icon">Начин на постъпване </th>
                                <th class="k-header k-filterable k-with-icon">Автоматична стойност </th>
                                <th class="k-header k-filterable k-with-icon">Ръчна стойност </th>
                                <th class="k-header k-filterable k-with-icon">Причина за постъпване </th>
                            </tr>
                        </thead>
                        <tbody role="rowgroup" class="tablebordered">
                            <tr role="row" class="k-grouping-row tablebordered">
                                <td colspan="10" aria-expanded="true" class="tablebordered" style="background-color:#f4f4f4"><p class="k-reset"><a class="k-icon k-i-collapse" href="#" tabindex="-1"></a>01 Входни потоци</p></td>
                            </tr>
                            <tr data-uid="ddcccb46-7ed9-4701-b934-6853904d7497" role="row" class="warning-animation">
                                <td class="k-group-cell tablebordered">&nbsp;</td>
                                <td role="gridcell" class="tablebordered">1P0100</td>
                                <td style="display:none;" role="gridcell"><span class="stronged">01 Входни потоци</span></td>
                                <td role="gridcell" class="tablebordered">КР-1</td>
                                <td role="gridcell" class="tablebordered">СУРОВ Б-Н ВХ</td>
                                <td role="gridcell" class="tablebordered">200FQR003A</td>
                                <td role="gridcell" class="tablebordered">Тон</td>
                                <td role="gridcell" class="tablebordered">A</td>
                                <td role="gridcell" class="tablebordered"><div style="text-align:left;">588,734</div></td>
                                <td role="gridcell" class="tablebordered"><div style="text-align:left;">588,734</div></td>
                                <td role="gridcell" class="tablebordered">
                                    <div class="col-xs-2 no-horisontal-padding">
                                        <div class="bg-ok"></div>
                                    </div><div class="col-xs-9 no-horisontal-padding reason">Автоматично зареждане</div>
                                </td>
                                <td role="gridcell" class="tablebordered"></td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <p> Фиг.8Б</p>
                </div>
                <br />
                <p>Постъпването на данните е отразено в колона „Начин на постъпване на данни“, като съществуват следните механизми: </p>
                <ul>
                    <li> А – автоматично постъпване на данни от измервателно устройство;</li>
                    <li>М – ръчно въвеждане на данни;</li>
                    <li>MS – ръчно въвеждане на стойност, която се променя по определена формула</li>
                    <li>MD – ръчно въвеждане на данни от броячи;</li>
                    <li>MC – ръчно въвеждане на стойност, която се променя по определена формула спрямо стойността й в други измервателни позиции;</li>
                    <li>
                        C – изчислими данни от свързани измервателни позиции.
                        За промяна на стойността на такъв вид поле е необходимо да се редактира една или повече от свързаните измервателни позиции.
                    </li>
                </ul>
                <p>Всяка колона от таблицата може да бъде филтрирана по следния начин: </p>
                <div class="centeredDivForImages">
                    <p><img class="img-rounded" src="~/Content/images/Shiftdata/figura12.png" /></p>
                    <p> Фиг.9</p>
                </div>
                <p>Всеки ред от таблицата може да се редактира като се натисне бутон <span><img class="img-rounded" src="~/Content/images/Shiftdata/edit.png" /></span>.</p>

                <p>
                    При редактиране на измервателна позиция с „Начин на постъпване на данни“ „А“ или „М“, колоните, които могат да бъдат редактирани
                    са „Ръчна стойност“ и „Причина за корекция“. Те се ограждат в сив правоъгълник, а данните в останалите колони не подлежат на промяна,
                    както е показана на фиг.10.
                </p>
                <p>Въвеждат се коректни стойности в колоните за редакция и се натиска бутон <span><img class="img-rounded" src="~/Content/images/Shiftdata/save.png" /></span>.</p>
                <div class="centeredDivForImages">
                    <p><img class="img-rounded MaxWidthForTable" src="~/Content/images/Shiftdata/figura14A.png" /></p>
                    <p> Фиг.10</p>
                </div>
                <p>
                    При редактиране на измервателна позиция с „Начин на постъпване на данни“ „МD“ се отваря екран, показан на Фиг.11.
                    Необходимо е да се въведе новото показание на брояч и да се избере бутон <span><img class="img-rounded btnApply" src="~/Content/images/Shiftdata/butonPrilogi.png" /></span>.
                    Ако не е било въведено старо показание е необходимо да се въведе и то.
                </p>
                <div class="centeredDivForImages">
                    <p><img class="img-rounded" src="~/Content/images/Shiftdata/figura15A.png" /></p>
                    <p> Фиг.11</p>
                </div>
                <p>
                    При редактиране на измервателна позиция с „Начин на постъпване на данни“ „МC“ и „МS“ се отваря екран, показан на Фиг.12. Необходимо е
                    да се въведе стойност в поле „Нова стойност“ и да се избере бутон <span><img class="img-rounded btnApply" src="~/Content/images/Shiftdata/butonPrilogi.png" /></span>.
                </p>
                <div class="centeredDivForImages">
                    <p><img class="img-rounded" src="~/Content/images/Shiftdata/figura16A.png" /></p>
                    <p> Фиг.12</p>
                </div>
                <p>При въвеждане на дробни числа в колоните за редактиране е необходимо да се съобрази със съответните регионални настройки на клиента, който използва компютъра.</p>
                <p>
                    Въвеждат се коректни стойности в колоните за редакция и се натиска бутон <span><img class="img-rounded" src="~/Content/images/Shiftdata/save.png" /></span>.
                    Ако се въведе невалидна стойност в колоната се появява следното съобщение за грешка, показано на Фиг.13:
                </p>
                <div class="centeredDivForImages">
                    <p><img class="img-rounded" src="~/Content/images/Shiftdata/figura14.png" /></p>
                    <p> Фиг.13</p>
                </div>
                <p>Въвеждат се коректни стойности в колоните за редакция и се натиска бутон <span><img class="img-rounded" src="~/Content/images/Shiftdata/save.png" /></span>.</p>
                <p>
                    Потребител с присъединена роля <span class="stronged">"Administrator"</span> или <span class="stronged">"HistoryManager"</span> може да види всяка направена промяна
                    в таблицата. Тя се вижда след избиране на съдържанието на определена колона. Отваря се екран, съдържащ информация кой, кога и какви промени
                    е правил в таблицата, както e показано на Фиг.14.
                </p>
                <div class="centeredDivForImages">
                    <p><img class="img-rounded" src="~/Content/images/Shiftdata/figura15.png" /></p>
                    <p>Фиг.14</p>
                </div>
            </section>
            <section>
                <p>
                    Когато информацията в таблица “Сменни данни за измервателни позиции” е много голяма и не се събира на един екран, тя се прехвърля
                    на следващи екрани като преминаването между различните екрани става чрез бутоните, показани на Фиг.15.
                </p>
                <div class="centeredDivForImages">
                    <p><img class="img-rounded" src="~/Content/images/Shiftdata/figura63.png" /></p>
                    <p>Фиг.15</p>
                </div>
                <p>
                    Потребителят с роля <span class="stronged">„ShiftReporter“</span> внимателно преглежда всеки ред от таблицата. Когато е готов
                    да запише отчета натиска бутон <span><img class="img-rounded btnApply" src="~/Content/images/DailyData/Potvarjdavam_red.png" /></span> и
                    запазва сменния отчет. Появява се екран за успешна  операция, показан на Фиг.16:
                </p>
                <div class="centeredDivForImages">
                    <p><img class="img-rounded" src="~/Content/images/Shiftdata/figura16.png" /></p>
                    <p>Фиг.16</p>
                </div>
                    <p>
                        <span class="stronged">
                            Потребителят с роля „ShiftReporter“, след като е избрал конкретни производство, инсталация и дата, трябва
                            да потвърди сменни данни и за трите смени – първа, втора и трета. В противен случай ще се появи съобщение
                            за грешка при извикването на дневни данни за измервателни позиции - Материални потоци за същите избрани параметри производство,
                            инсталация и дата, което се изпълнява основно от потребител с роля „DailyReporter“ от меню „Дневни данни“ -> “Дневни данни за измервателни позиции- Материални потоци“.
                        </span>
                    </p>
                    <p>
                        Веднъж потвърден сменен отчет няма възможност за повторно редактиране или потвърждаване“.
                    </p>
                    <p>
                        Отчетът може само повторно да бъде извикан и експортиран в Excel чрез бутон <span><img class="img-rounded btnApply" src="~/Content/images/Shiftdata/Export.png" /></span>.
                        Отчетът се експортира и може да се извика от таба за експортнатия документ, намиращ се в долния ляв ъгъл на екрана и показан на Фиг.17:
                    </p>
                <div class="centeredDivForImages">
                    <p><img class="img-rounded" src="~/Content/images/Shiftdata/Figura18.png" /></p>
                    <p>Фиг.17</p>
                </div>
            </section>
            <hr class="hrUnderText" />
            <div class="container" style="margin-left:18em;">
                <div class="col-md-1 divimage">
                    <img src="~/Content/Images/ShiftData/technical_stuff.gif" class="imgForStuff" />
                </div>
                <div class="col-md-11 ForStuff">
                    <h4 style="text-align:center">Кой има право да обработва Сменни данни за измервателни позиции ?</h4>
                    <p>
                        Право за генериране на Сменни данни за измервателни позиции има потребител с присъединена роля
                        <span class="stronged">"ShiftReporter"</span>.
                    </p>
                </div>
            </div>
            <br />
            <hr class="hrUnderText" />
        </article>
    </div>
@section scripts{
    @Scripts.Render("~/bundles/custom/kendoadditional")
    @Scripts.Render("~/bundles/custom/unitGrids")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/custom/jquery-kendo-globalize.js")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
}
