@using Resources = App_GlobalResources.Resources
@model TimeSpan
<div class="row">
    <div class="form-group col-xs-4">
        <label class="control-label" for="days">@Resources.Layout.Days</label>
        @Html.EditorFor(m => m.Days, new { htmlAttributes = new { @class = "form-control", id = "days" } })
    </div>
    <div class="form-group col-xs-4">
        <label class="control-label" for="hours">@Resources.Layout.Hours</label>
        @Html.EditorFor(m => m.Hours, new { htmlAttributes = new { @class = "form-control", id = "hours" } })
    </div>
    <div class="form-group col-xs-4">
        <label class="control-label" for="minutes">@Resources.Layout.Minutes</label>
        @Html.EditorFor(m => m.Minutes, new { htmlAttributes = new { @class = "form-control", id = "minutes" } })
    </div>
</div>
