@using CollectingProductionDataSystem.Web.ViewModels.Units;
@model UnitDataViewModel
@{
    Layout = "~/Views/Shared/_KendoLayout.cshtml";
}
<h2>@Resources.Layout.UnitsData</h2>
@Html.ValidationSummary()
@Html.AntiForgeryToken()
@(Html.Kendo()
    .Grid<UnitDataViewModel>()
    .Name("units")
      .Columns(
           columns =>
           {
               columns.Bound(c => c.Code).Width(77);
               columns.Bound(c => c.ProcessUnitName).Width(100);
               columns.Bound(c => c.Name);
               columns.Bound(c => c.Position).Width(140);
               columns.Bound(c => c.MeasureUnit).Width(80);
               columns.Bound(c => c.CollectingDataMechanism).Width(30).Title(string.Empty);
               columns.Bound(c => c.AutomaticValue).Width(100).Format("{0:n2}");
               columns.Bound(c => c.ManualValue).Width(100).Format("{0:n2}");
               columns.Bound(c => c.EditReason).Width(200).ClientTemplate("#:EditReason.Name#")
                   .ClientTemplate("<div class=row><div class='col-xs-2 no-horisontal-padding'><div class='#:EditReason.Id == 0? 'bg-ok':'bg-warning'#'></div></div><div class='col-xs-9 no-horisontal-padding reason'>#:EditReason.Name#</div></div>");
               //.EditorTemplateName("EditReason");
               columns.Command(c => c.Edit());
           })
               .Pageable(pageable => pageable
                    .Refresh(true)
                        .PageSizes(new[] { 10, 20, 50, 100 })
                    .ButtonCount(5))
      .Sortable()
      .Scrollable(scr => scr.Height(660))
      .Filterable()
      .Editable(editable => editable.Mode(GridEditMode.InLine))
      .DataSource(dataSource => dataSource
        .Ajax()
            .PageSize(20)
        .ServerOperation(true)
            .Read(read => read.Action("ReadUnitsData", "Units", new { area = "" }).Data("sendDate"))
           .Update(update => update.Action("Edit", "Units", new { area = "" }).Data("sendAntiForgery"))
           .Model(model =>
           {
               model.Id(p => p.Id);
               model.Field(p => p.Code).Editable(false);
               model.Field(p => p.ProcessUnitName).Editable(false);
               model.Field(p => p.Name).Editable(false);
               model.Field(p => p.Position).Editable(false);
               model.Field(p => p.MeasureUnit).Editable(false);
               model.Field(p => p.CollectingDataMechanism).Editable(false);
               model.Field(p => p.AutomaticValue).Editable(false);
               model.Field(p => p.ManualValue).Editable(true);
               model.Field(p => p.EditReason).Editable(true);
           })
           .Events(events =>
           {
               events.Error("error_handler");
           })
      )
)
@* //Error window for kendo grid error event handler *@
<div id="err-window" style="display:none">@Html.Partial("_KendoGridErrorWindow")</div>
@section scripts{
    <script src="~/Scripts/custom/sendAntiForgery.js"></script>
    <script>
        kendo.culture("@System.Threading.Thread.CurrentThread.CurrentCulture.Name");


        var sendDate = function () {
            var result = { "date": $('input[name=date]').val() };
            $.extend(result, sendAntiForgery());
            return result;
        }

        function error_handler(e) {
            if (e.errors) {
                var message = "";
                $.each(e.errors, function (key, value) {
                    if ('errors' in value) {
                        message += key + " - ";
                        $.each(value.errors, function () {
                            message += this + "\n";
                        });
                    }
                });
                $('pre#message').text(message);
                $('div#err-window').data("kendoWindow").open();
            }
        }

        function closeWindow() {
            $('div#err-window').data("kendoWindow").close();
        }

        function recordTimeStampFilter(element) {
            element.kendoDateTimePicker();
        }

        $(document).ready(function () {
            $("#apply").click(function () {
                var grid = $("#tanks").data("kendoGrid");
                grid.dataSource.read();
                grid.refresh();
            });
            prepareWindow();
        });

        function prepareWindow() {
            var window = $('div#err-window')
            window.kendoWindow({
                width: "650px",
                title: "Възникна грешка в приложението",
                actions: ["Close"],
                modal: true,
                position: {
                    top: "30%", // or "100px"
                    left: "30%"
                },
                minHeight: 100,
                maxHeight: 350
            });
        }
    </script>
}   