@using Resources = App_GlobalResources.Resources;

@model CollectingProductionDataSystem.Web.Areas.Administration.ViewModels.EditUserViewModel
@{
    Layout = "~/Views/Shared/_KendoLayout.cshtml";
    ViewBag.Title = @Resources.Layout.CreateUser;
    ViewBag.Mode = "Create";
}
<div class="container body-content">
    <h2 class="text-center">@ViewBag.Title</h2>
    <hr />
    @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-lg-6">
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <div class="row">
                        @Html.LabelFor(m => m.UserName, new { @class = "col-xs-4 control-label control-label-horizontal" })
                        @Html.EditorFor(m => m.UserName, new { htmlAttributes = new { @class = "form-control col-xs-8 k-editor" } })
                    </div>
                    @Html.ValidationMessageFor(m => m.UserName, string.Empty, new { @class = "validation-summary-errors" })
                </div>
                <div class="form-group">
                    <div class="row">
                        @Html.LabelFor(m => m.Email, new { @class = "col-xs-4 control-label control-label-horizontal" })
                        @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control col-xs-8 k-editor" } })
                    </div>
                    @Html.ValidationMessageFor(m => m.Email, string.Empty, new { @class = "validation-summary-errors" })
                </div>
                <div class="form-group">
                    <div class="row">
                        @Html.LabelFor(m => m.FirstName, new { @class = "col-xs-4 control-label control-label-horizontal" })
                        @Html.EditorFor(m => m.FirstName, new { htmlAttributes = new { @class = "form-control col-xs-8 k-editor" } })
                    </div>
                    @Html.ValidationMessageFor(m => m.FirstName, string.Empty, new { @class = "validation-summary-errors" })
                </div>
                <div class="form-group">
                    <div class="row">
                        @Html.LabelFor(m => m.MiddleName, new { @class = "col-xs-4 control-label control-label-horizontal" })
                        @Html.EditorFor(m => m.MiddleName, new { htmlAttributes = new { @class = "form-control col-xs-8 k-editor" } })
                    </div>
                    @Html.ValidationMessageFor(m => m.MiddleName, string.Empty, new { @class = "validation-summary-errors" })
                </div>
                <div class="form-group">
                    <div class="row">
                        @Html.LabelFor(m => m.LastName, new { @class = "col-xs-4 control-label control-label-horizontal" })
                        @Html.EditorFor(m => m.LastName, new { htmlAttributes = new { @class = "form-control col-xs-8 k-editor" } })
                    </div>
                    @Html.ValidationMessageFor(m => m.LastName, string.Empty, new { @class = "validation-summary-errors" })
                </div>
                <div class="form-group">
                    <div class="row">
                        @Html.LabelFor(m => m.Occupation, new { @class = "col-xs-4 control-label control-label-horizontal" })
                        @Html.EditorFor(m => m.Occupation, new { htmlAttributes = new { @class = "form-control col-xs-8 k-editor" } })
                    </div>
                    @Html.ValidationMessageFor(m => m.Occupation, string.Empty, new { @class = "validation-summary-errors" })
                </div>
                <div class="form-group">
                    <div class="row">
                        @Html.LabelFor(m => m.NewPassword, new { @class = "col-xs-4 control-label control-label-horizontal" })
                        @Html.EditorFor(m => m.NewPassword, new { htmlAttributes = new { @class = "form-control col-xs-8 k-editor" } })
                    </div>
                    @Html.ValidationMessageFor(m => m.NewPassword, string.Empty, new { @class = "validation-summary-errors" })
                </div>
            </div>
            <div class="col-lg-6">
                @Html.Partial("_UserAdditionalData", Model)
            </div>
        </div>

    <div class="well clearfix">
        <div class="pull-right">
            <button id="create" type="submit" class="btn btn-primary">Create</button>
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
        </div>
    </div>
    }
</div>

@section styles{
    <style>
        .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2,
        .col-md-2, .col-lg-2, .col-xs-4, .col-sm-3, .col-md-3, .col-lg-3,
        .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5,
        .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
        .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8,
        .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
        .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11,
        .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
            padding-left: 10px !important;
            padding-right: 10px !important;
        }
    </style>
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $('#create').click(function () {
                AddDataForUserRole();
                AddDataForProcessUnits();
                AddDataForParks();
            })
        });

        function AddDataForUserRole() {
            var selectedUserRoles = $("#UserRoles").data("kendoMultiSelect").dataItems();
            $.each(selectedUserRoles, function (index, value) {
                $('form').append($('<input>').attr({
                    type: 'hidden',
                    id: 'UserRoles_' + index + "_Id",
                    name: 'UserRoles[' + index + '].Id',
                    value: value.Id,
                }));
                $('form').append($('<input>').attr({
                    type: 'hidden',
                    id: 'UserRoles_' + index + "_Name",
                    name: 'UserRoles[' + index + '].Name',
                    value: value.Name,
                }));
                $('form').append($('<input>').attr({
                    type: 'hidden',
                    id: 'UserRoles_' + index + "_Description",
                    name: 'UserRoles[' + index + '].Description',
                    value: value.Description,
                }));
            })
            $("#UserRoles").remove();
        }

        function AddDataForProcessUnits() {
            var selectedProcessUnits = $("#ProcessUnits").data("kendoMultiSelect").dataItems();
            $.each(selectedProcessUnits, function (index, value) {
                $('form').append($('<input>').attr({
                    type: 'hidden',
                    id: 'ProcessUnits_' + index + "_Id",
                    name: 'ProcessUnits[' + index + '].Id',
                    value: value.Id,
                }));
                $('form').append($('<input>').attr({
                    type: 'hidden',
                    id: 'ProcessUnits_' + index + "_Name",
                    name: 'ProcessUnits[' + index + '].Name',
                    value: value.Name,
                }));
                $('form').append($('<input>').attr({
                    type: 'hidden',
                    id: 'ProcessUnits_' + index + "_FullName",
                    name: 'ProcessUnits[' + index + '].FullName',
                    value: value.Description,
                }));
            })
            $("#ProcessUnits").remove();
        }
        function AddDataForParks() {
            var selectedParks = $("#Parks").data("kendoMultiSelect").dataItems();
            $.each(selectedParks, function (index, value) {
                $('form').append($('<input>').attr({
                    type: 'hidden',
                    id: 'Parks_' + index + "_Id",
                    name: 'Parks[' + index + '].Id',
                    value: value.Id,
                }));
                $('form').append($('<input>').attr({
                    type: 'hidden',
                    id: 'Parks_' + index + "_Name",
                    name: 'Parks[' + index + '].Name',
                    value: value.Name,
                }));
            })
            $("#Parks").remove();
        }
    </script>

}