@model CollectingProductionDataSystem.Models.Identity.ApplicationUser

<div class="form-group">
    @Html.LabelFor(m => m.Id):&nbsp;
    @Html.DisplayFor(m => m.Id)
</div>
<div class="form-group">

    @Html.LabelFor(m => m.UserName):&nbsp;
    @Html.DisplayFor(m => m.UserName)
</div>
<div class="form-group">

    @Html.LabelFor(m => m.Email):&nbsp;
    @Html.DisplayFor(m => m.Email)
</div>
<div class="form-group">

    @Html.LabelFor(m => m.PhoneNumber):&nbsp;
    @Html.DisplayFor(m => m.PhoneNumber)
</div>
<div class="form-group">

    @Html.LabelFor(m => m.NickName):&nbsp;
    @Html.DisplayFor(m => m.NickName)
</div>
