@{
    Layout = "~/Views/Shared/_Layout.cshtml";    
}
@using Resources = App_GlobalResources.Resources
@model CollectingProductionDataSystem.Web.Areas.Administration.ViewModels.ChangePasswordViewModel

<div class="text-center">
    <h2>@ViewBag.Title</h2>
</div>
@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="container center-block ">

        @Html.AntiForgeryToken()
        <h4 class="text-center">@Resources.Layout.ChangePasswordMessage <b>"@User.Identity.Name"</b></h4>
        <hr />
        <div class="center-block" style="max-width:680px;">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" }) @Html.ValidationMessageFor(m => m.OldPassword)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" }) @Html.ValidationMessageFor(m => m.NewPassword)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" }) @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>
            </div>
            <div class="well clearfix">
                <div class="pull-right">
                    <input type="submit" value="@Resources.Layout.ChangePassword" class="btn btn-default btn-warning" />
                    <input type="button" value="@Resources.Layout.Cancel" class="btn btn-default btn-success" onclick="window.history.back();">
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}