@{
    Layout = null;
}
@using CollectingProductionDataSystem.Web.Infrastructure.Helpers;
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Система за автоматизиране на процеса по събиране и съгласуване на първична информация за нуждите на производствената отчетност и материално-енергиен баланс в „ЛУКОЙЛ Нефтохим Бургас“ АД"</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
    @Styles.Render("~/Content/css")
</head>
<body>
    @Html.Hidden("expiration-interval", 60 * 30)
    @RenderBody()
    @Html.Partial("_BootstrapModal")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @* Renders scripts came from the partial views *@
    @Html.PageScripts()
    @Scripts.Render("~/Scripts/custom/backfix.min.js")
    @Scripts.Render("~/Scripts/custom/windowUnload.js")
    @Scripts.Render("~/Scripts/custom/windowExpirationTime.min.js")
    @Scripts.Render("~/Scripts/jquery.signalR-1.1.3.min.js"),
    @Scripts.Render("~/signalr/hubs"),
    @Scripts.Render("~/Scripts/custom/signalR.js")
</body>
</html>
