@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}
<input id="culture" type="hidden" value="@System.Threading.Thread.CurrentThread.CurrentCulture.Name" />
@Html.Partial("_MainNav")
<div id="page-wrapper" class="container-fluid">
    <div class="sidebar-wtapper">
        @* --- Side bar --- *@
        <div class="sidebar">
            <div class="sidebar-heading text-center"><p>Параметри на отчета</p></div><hr style="margin-top:0" />
            <div class="container-fluid body-content">
                @RenderSection("sidebar", false)
            </div>
        </div>
        <div class="sidebar-sidebaner">
            <div class="sidebar-sidebaner-wrapper">
                <a id="slide" href="#" class="pull-right" aria-expanded="true"><span class="glyphicon glyphicon-chevron-up"></span></a>
                <div id="slide-text" class="pull-left"></div>
            </div>
        </div>
        @* --- End of Side Bar --- *@
    </div>
    <div id="content-wrapper" class="container-fluid">
        @RenderBody()
    </div>

    <div class="nav navbar-fixed-bottom">
        <div class="clearfix">
            <div class="footer clerfix">
                <p>
                    &copy; @DateTime.Now.Year - Бизнес Мениджмънт Системс ЕООД
                    @if (User.IsInRole("Administrator")){<span class="pull-right" id="counter"></span>}
                </p>
            </div>
        </div>
    </div>
</div>

@section styles{
    @RenderSection("styles", required: false)
}

@section scripts{
    @RenderSection("scripts", required: false)
}

