@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}
<input id="culture" type="hidden" value="@System.Threading.Thread.CurrentThread.CurrentCulture.Name" />
@Html.Partial("_MainNav")
<div class="container-fluid body-content">
    @RenderBody()
</div>
<div class="nav navbar-fixed-bottom">
    <div class="clearfix">
        <div class="footer clerfix">
            <p>&copy; @DateTime.Now.Year - Бизнес Мениджмънт Системс ЕООД</p>
        </div>
    </div>
</div>

@section styles{
    @RenderSection("styles", required: false)
}

@section scripts{
    @RenderSection("scripts", required: false)
}