<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
    @Styles.Render("~/Content/css")

</head>
<body>
    @Html.Partial("_MainNav")
    <div class="row max-width-100">
        <div id="aside" class="col-lg-2">
            @* --- Side bar --- *@
            <div class="sidebar">
                <div class="sidebar-content">
                    @RenderSection("sidebar", false)
                </div>
            </div>
            <div class="sidebar-sidebaner">
                <div class="sidebar-sidebaner-erapper">
                    <a id="slide" href="#" class="pull-right" aria-expanded="true"><span class="glyphicon glyphicon-chevron-up"></span></a>
                    some text
                </div>
            </div>
            @* --- End of Side Bar --- *@
        </div>
        <div id="content"class="col-lg-10">
            <div class="container body-content grid-container">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Бизнес Мениджмънт Системс ЕООД</p>
                </footer>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
