<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Система за автоматизиране на процеса по събиране и съгласуване на първична информация за нуждите на производствената отчетност и материално-енергиен баланс в „ЛУКОЙЛ Нефтохим Бургас“ АД"</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)

</head>
<body>
    @Html.Partial("_MainNav")
    <div class="container-fluid body-content">
        @RenderBody()
    </div>

    <div class="nav navbar-fixed-bottom">
        <div class="footer">
            <p>&copy; @DateTime.Now.Year - Бизнес Мениджмънт Системс ЕООД</p>
        </div>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
