@using Resources = App_GlobalResources.Resources
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new { area = string.Empty }, FormMethod.Post, new { id = "logoutForm", @class = "pull-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
            <li class="hidden-md">
                @Html.Action("GetGreetingMessage", "Account", new { area = string.Empty})
            </li>
            <li><a href="#" id="logoff">@Resources.Layout.Logoff</a></li>
            <li><a href='@Url.Action("ShowMessagesGrid", "Home", new { area = "" })' id="messages"><span class="glyphicon glyphicon-envelope"><span class="label label-danger label-as-badge" id="message-counter"></span></span></a></li>
            <li><a href="/Documentation/Help" class="btn-help"><img src="~/Content/Images/PNG/Help.png" alt="Help" class="btn-help"/></a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink(@Resources.Layout.Login, "Login", "Account", routeValues: new { area = "" }, htmlAttributes: new { id = "loginLink" })</li>
        <li><a href="@Url.Action("ShowMessagesGrid", "Home", new { area = "" })" id="messages"><span class="glyphicon glyphicon-envelope"><span class="label label-danger label-as-badge" id="message-counter"></span></span></a></li>
        <li><a href="/Documentation/Help" class="btn-help"><img src="~/Content/Images/PNG/Help.png" alt="Help" class="btn-help" /></a></li>
    </ul>
}

