@using Microsoft.AspNet.Identity;
@using Resources = App_GlobalResources.Resources;

<div class="navbar navbar-default navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/Home/Index" class="navbar-brand"><img src="~/Content/Images/LukTransparent.png" alt="ЛУКОЙЛ" height="40px" /></a>

        </div>
        <div class="navbar-collapse collapse">
            <ul id="main-nav" class="nav navbar-nav">
                @if (Html.ActionIsAccessibleToUser("AuthorizeShiftMenu", "Home", ""))
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@Resources.Layout.ShiftsData<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            @*<li role="separator" class="divider divider-labeled"><span class="label label-default pull-right">Сменни данни</span></li>*@
                            <li>@Html.AuthorizedActionLink(@Resources.Layout.UnitsData, "UnitsData", "Units", new { area = "ShiftReporting" }, null)</li>
                            <li>@Html.AuthorizedActionLink(@Resources.Layout.TanksData, "TanksData", "Tanks", new { area = "ShiftReporting" }, null)</li>
                            <li role="separator" class="divider divider-labeled"><span class="label label-default pull-right">Магистрални тръбопроводи</span></li>
                            <li>@Html.AuthorizedActionLink(@Resources.Layout.HighwayPipelinesData, "HighwayPipelinesData", "HighwayPipelines", new { area = "ShiftReporting" }, null)</li>
                        </ul>
                    </li>
                }
                @if (Html.ActionIsAccessibleToUser("AuthorizeDailyMenu", "Home", ""))
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@Resources.Layout.DailyData<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.AuthorizedActionLink(@Resources.Layout.UnitsDailyDataMaterial, "UnitsDailyData", "UnitsDaily", new { area = "DailyReporting" }, null)</li>
                            <li>@Html.AuthorizedActionLink(@Resources.Layout.UnitsDailyDataEnergy, "EnergyDailyData", "EnergyDaily", new { area = "DailyReporting" }, null)</li>
                            <li>@Html.AuthorizedActionLink(@Resources.Layout.UnitsReportData, "UnitsReportsData", "UnitsReports", new { area = "DailyReporting" }, null)</li>
                            <li>@Html.AuthorizedActionLink(@Resources.Layout.MeasuringPointsData, "TransactionsDailyData", "TransactionsDaily", new { area = "DailyReporting" }, null)</li>
                            <li>@Html.AuthorizedActionLink(@Resources.Layout.TanksStatusesData, "TanksStatusesData", "TanksStatuses", new { area = "DailyReporting" }, null)</li>
                        </ul>
                    </li>
                }

                @if (Html.ActionIsAccessibleToUser("AuthorizeMonthlyMenu", "Home", ""))
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@Resources.Layout.MonthData<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li role="separator" class="divider divider-labeled"><span class="label label-default pull-right">Месечни количества</span></li>
                            <li>@Html.AuthorizedActionLink(@Resources.Layout.InnerPipelinesData, "InnerPipelinesData", "InnerPipelines", new { area = "MonthlyReporting" }, null)</li>
                            <li>@Html.AuthorizedActionLink(@Resources.Layout.InProcessUnitsData, "InProcessUnitsData", "InProcessUnits", new { area = "MonthlyReporting" }, null)</li>
                            <li role="separator" class="divider divider-labeled"><span class="label label-default pull-right">Разходни норми</span></li>
                            <li>@Html.AuthorizedActionLink(@Resources.Layout.PlanNorm, "Index", "PlanNorm", new { area = "PlanConfiguration" }, null)</li>
                            <li>@Html.AuthorizedActionLink(@Resources.Layout.PlanValues, "Index", "PlanValues", new { area = "PlanConfiguration" }, null)</li>

                            <li role="separator" class="divider divider-labeled"><span class="label label-default pull-right">Месечни данни</span></li>
                            <li>@Html.ActionIsAccessibleToCurrentRolls(@Resources.Layout.UnitMonthlyHCData, "Report", "MonthlyHydroCarbons", new { area = "MonthlyDataReporting", isReport = false })</li>
                            <li>@Html.ActionIsAccessibleToCurrentRolls(@Resources.Layout.UnitMonthlyCHData, "Report", "MonthlyChemical", new { area = "MonthlyDataReporting" })</li>
                            <li>@Html.ActionIsAccessibleToCurrentRolls(@Resources.Layout.UnitMonthlyFWData, "Report", "MonthlyFreshWater", new { area = "MonthlyDataReporting" })</li>
                            <li>@Html.ActionIsAccessibleToCurrentRolls(@Resources.Layout.UnitMonthlyCWData, "Report", "MonthlyCirculatingWater", new { area = "MonthlyDataReporting" })</li>
                            <li>@Html.ActionIsAccessibleToCurrentRolls(@Resources.Layout.UnitMonthlyCCWData, "MonthlyChemicalClearedWaterData", "MonthlyChemicalClearedWater", new { area = "MonthlyDataReporting" })</li>
                            <li>@Html.ActionIsAccessibleToCurrentRolls(@Resources.Layout.UnitMonthlyPWData, "MonthlyPotableWaterData", "MonthlyPotableWater", new { area = "MonthlyDataReporting" })</li>
                            <li>@Html.ActionIsAccessibleToCurrentRolls(@Resources.Layout.UnitMonthlyHEData, "Report", "MonthlyHeatEnergy", new { area = "MonthlyDataReporting" })</li>
                            <li>@Html.ActionIsAccessibleToCurrentRolls(@Resources.Layout.UnitMonthlyEEData, "Report", "MonthlyElectricalEnergy", new { area = "MonthlyDataReporting" })</li>
                            <li>@Html.ActionIsAccessibleToCurrentRolls(@Resources.Layout.UnitMonthlyAirData, "Report", "MonthlyAir", new { area = "MonthlyDataReporting" })</li>
                            <li>@Html.ActionIsAccessibleToCurrentRolls(@Resources.Layout.UnitMonthlyNitrogenData, "Report", "MonthlyNitrogen", new { area = "MonthlyDataReporting" })</li>
                            <li>@Html.ActionIsAccessibleToCurrentRolls(@Resources.Layout.UnitMonthlyFuelsData, "Report", "MonthlyFuels", new { area = "MonthlyDataReporting" })</li>
                            <li>@Html.ActionIsAccessibleToCurrentRolls(@Resources.Layout.UnitMonthlyWorkingHours, "Report", "MonthlyWorkingHours", new { area = "MonthlyDataReporting" })</li>
                        </ul>
                    </li>
                }

                @if (Html.ActionIsAccessibleToUser("AuthorizeSummaryMenu", "Home", ""))
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@Resources.Layout.SummaryReports<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li role="separator" class="divider divider-labeled divider-top"><span class="label label-default pull-right">Сменни данни</span></li>
                            <li>@Html.AuthorizedActionLink(@Resources.Layout.TanksData, "TanksData", "SummaryReports", new { area = "SummaryReporting" }, null)</li>
                            <li>@Html.AuthorizedActionLink(@Resources.Layout.TanksDataByProducts, "TanksWeightInVacuumData", "SummaryReports", new { area = "SummaryReporting" }, null)</li>
                            <li>@Html.AuthorizedActionLink(@Resources.Layout.UnitsReportData, "UnitsReportsData", "SummaryReports", new { area = "SummaryReporting" }, null)</li>
                            <li role="separator" class="divider divider-labeled"><span class="label label-default pull-right">Дневни данни</span></li>
                            <li>@Html.AuthorizedActionLink(@Resources.Layout.UnitsDailyReportData, "UnitsDailyReportsData", "SummaryReports", new { area = "SummaryReporting" }, null)</li>
                            <li>@Html.AuthorizedActionLink(@Resources.Layout.ProductionPlanReport, "ProductionPlanReport", "SummaryReports", new { area = "SummaryReporting" }, null)</li>
                            <li>@Html.AuthorizedActionLink(@Resources.Layout.ProductionPlanReportEnergy, "ProductionPlanEnergyReport", "SummaryReports", new { area = "SummaryReporting" }, null)</li>
                            <li>@Html.AuthorizedActionLink(@Resources.Layout.DailyInfoHydrocarbonsData, "DailyInfoHydrocarbonsData", "SummaryReports", new { area = "SummaryReporting" }, null)</li>
                            <li>@Html.AuthorizedActionLink(@Resources.Layout.MeasuringPointsData, "TransactionsDailyData", "TransactionsDaily", new { area = "SummaryReporting" }, null)</li>
                            <li>@Html.AuthorizedActionLink(@Resources.Layout.HighwayPipelinesData, "HighwayPipelinesData", "HighwayPipelinesReport", new { area = "SummaryReporting" }, null)</li>
                            <li role="separator" class="divider divider-labeled"><span class="label label-default pull-right">Месечни количества</span></li>
                            <li>@Html.AuthorizedActionLink(@Resources.Layout.InnerPipelinesData, "InnerPipelinesData", "SummaryReports", new { area = "SummaryReporting" }, null)</li>
                            <li>@Html.AuthorizedActionLink(@Resources.Layout.InProcessUnitsData, "InProcessUnitsData", "SummaryReports", new { area = "SummaryReporting" }, null)</li>
                            <li role="separator" class="divider divider-labeled"><span class="label label-default pull-right">Месечни данни</span></li>
                            <li>@Html.ActionIsAccessibleToCurrentRolls(@Resources.Layout.UnitMonthlyHCData, "Report", "MonthlyHydroCarbons", new { area = "MonthlyDataReporting", isReport = true })</li>
                            <li>@Html.ActionIsAccessibleToCurrentRolls(@Resources.Layout.UnitMonthlyCHData, "Report", "MonthlyChemical", new { area = "MonthlyDataReporting", isReport = true })</li>
                            <li>@Html.ActionIsAccessibleToCurrentRolls(@Resources.Layout.UnitMonthlyFWData, "Report", "MonthlyFreshWater", new { area = "MonthlyDataReporting", isReport = true })</li>
                            <li>@Html.ActionIsAccessibleToCurrentRolls(@Resources.Layout.UnitMonthlyCWData, "Report", "MonthlyCirculatingWater", new { area = "MonthlyDataReporting", isReport = true })</li>
                            <li>@Html.ActionIsAccessibleToCurrentRolls(@Resources.Layout.UnitMonthlyCCWData, "MonthlyChemicalClearedWaterReport", "MonthlyChemicalClearedWater", new { area = "MonthlyDataReporting", isReport = true })</li>
                            <li>@Html.ActionIsAccessibleToCurrentRolls(@Resources.Layout.UnitMonthlyPWData, "MonthlyPotableWaterReport", "MonthlyPotableWater", new { area = "MonthlyDataReporting", isReport = true })</li>
                            <li>@Html.ActionIsAccessibleToCurrentRolls(@Resources.Layout.UnitMonthlyHEData, "Report", "MonthlyHeatEnergy", new { area = "MonthlyDataReporting", isReport = true })</li>
                            <li>@Html.ActionIsAccessibleToCurrentRolls(@Resources.Layout.UnitMonthlyEEData, "Report", "MonthlyElectricalEnergy", new { area = "MonthlyDataReporting", isReport = true })</li>
                            <li>@Html.ActionIsAccessibleToCurrentRolls(@Resources.Layout.UnitMonthlyAirData, "Report", "MonthlyAir", new { area = "MonthlyDataReporting", isReport = true })</li>
                            <li>@Html.ActionIsAccessibleToCurrentRolls(@Resources.Layout.UnitMonthlyNitrogenData, "Report", "MonthlyNitrogen", new { area = "MonthlyDataReporting", isReport = true })</li>
                            <li>@Html.ActionIsAccessibleToCurrentRolls(@Resources.Layout.UnitMonthlyFuelsData, "Report", "MonthlyFuels", new { area = "MonthlyDataReporting", isReport = true })</li>
                            <li role="separator" class="divider divider-labeled"><span class="label label-default pull-right">Дневни данни - Диспечеризация и ЕОЗ</span></li>
                            <li>@Html.AuthorizedActionLink(@Resources.Layout.EozMeasuringPointsData, "OverseersTransactionsData", "OverseersTransactions", new { area = "SummaryReporting" }, null)</li>
                            <li role="separator" class="divider divider-labeled"><span class="label label-default pull-right">Контрол на изпълнителска дисциплина</span></li>
                            <li>@Html.AuthorizedActionLink(@Resources.Layout.ConfirmedDataReport, "DataConfirmation", "SummaryReports", new { area = "SummaryReporting" }, null)</li>
                        </ul>
                    </li>
                }
                <li>@Html.AuthorizedActionLink(@Resources.Layout.Dashboard, "Index", "Dashboard", new { area = "ManagementDashBoard" }, null)</li>
                <li>@Html.AuthorizedActionLink(@Resources.Layout.Administration, "Index", "User", new { area = "Administration" }, null)</li>

                @if (Html.ActionIsAccessibleToUser("Index", "Nomenclatures", "NomManagement"))
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@Resources.Layout.Nomenclatures<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.AuthorizedActionLink(@Resources.Layout.Nomenclatures, "Index", "Nomenclatures", new { area = "NomManagement" }, null)</li>
                            <li>@Html.AuthorizedActionLink(@Resources.Layout.NomUploadTitle, "Index", "UploadNom", new { area = "NomManagement" }, null)</li>
                        </ul>
                    </li>
                }
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
@*@if (!this.Server.MachineName.ToLower().Contains("s-api-1"))
    {
        <div id="dev">
            <div class="alert alert-danger alert-dismissable text-center">
                @if (User.IsInRole("Administrator"))
                {<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>}
                <h2>Вие се намирате в системата за разработки!</h2> <br>За работа в продуктивната система моля използвайте линка: <a href="http:\\s-api-1.neftochim.bg" class="alert-link">"Продуктивна система"</a>.
            </div>
        </div>
    }*@