@using Resources = App_GlobalResources.Resources;
<div class="navbar navbar-default navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/Home/Index" class="navbar-brand"><img src="~/Content/Images/LUK.png" alt="ЛУКОЙЛ" height="40px" /></a>

        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.AuthorizedActionLink(@Resources.Layout.UnitsData, "UnitsData", "Units", new { area = "ShiftReporting" }, null)</li>
                <li>@Html.AuthorizedActionLink(@Resources.Layout.UnitsDailyData, "UnitsDailyData", "UnitsDaily", new { area = "DailyReporting" }, null)</li>
                @if (Html.ActionIsAccessibleToUser("Index", "User", "Administration"))
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@Resources.Layout.Administration<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.AuthorizedActionLink(@Resources.Layout.UsersAdministration, "Index", "User", new { area = "Administration" }, null)</li>
                            <li>@Html.AuthorizedActionLink(@Resources.Layout.RolesAdministration, "Index", "Role", new { area = "Administration" }, null)</li>
                        </ul>
                    </li>
                }
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
