<div class="navbar navbar-default navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/Home/Index" class="navbar-brand"><img src="~/Content/Images/LUK.png" alt="ЛУКОЙЛ" height="40px" /></a>

        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home", routeValues: new { area = string.Empty }, htmlAttributes: null)</li>
                <li>@Html.ActionLink("About", "About", "Home", routeValues: new { area = string.Empty }, htmlAttributes: null)</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home", routeValues: new { area = string.Empty }, htmlAttributes: null)</li>
                <li>@Html.ActionLink("UnitsData", "UnitsData", "Units", routeValues: new { area = string.Empty }, htmlAttributes: null)</li>
                <li>@Html.ActionLink("Units Daily Data", "UnitsDailyData", "Units", routeValues: new { area = string.Empty }, htmlAttributes: null)</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
