@using Resources = App_GlobalResources.Resources;

<div class="form-group">
    <label for="factories">@Resources.Layout.Factory</label>
    @(Html.Kendo().DropDownList()
            .Name("factories")
            .OptionLabel(Resources.Layout.ChooseFactory)
            .HtmlAttributes(new { style = "width:95%" })
            .DataTextField("Name")
            .DataValueField("Id")
            .DataSource(source =>
            {
                source.Read(read =>
                {
                    read.Action("GetFactories", "Ajax");
                });
            })
    )
</div>
<div class="form-group">
    <label for="processunits">@Resources.Layout.ProcessUnit</label>
    @(Html.Kendo().DropDownList()
            .Name("processunits")
            .OptionLabel(Resources.Layout.ChooseProcessUnit)
            .HtmlAttributes(new { style = "width:95%" })
            .DataTextField("Name")
            .DataValueField("Id")
            .DataSource(source =>
            {
                source.Read(read =>
                {
                    read.Action("GetProcessUnits", "Ajax").Data("sendFactory");
                })
                .ServerFiltering(true);
            })
            .Enable(false)
            .AutoBind(false)
            .CascadeFrom("factories")
    )

</div>
<script>
    function sendFactory() {
        return {
            factoryId: $("#factories").val()
        };
    }
</script>
<div class="form-group">
    <label for="shifts">@Resources.Layout.ProductionShift</label>
    @(Html.Kendo().DropDownList()
            .Name("shifts")
            .OptionLabel(Resources.Layout.ChooseProductionShift)
            .HtmlAttributes(new { style = "width:95%" })
            .DataTextField("Name")
            .DataValueField("Minutes")
            .DataSource(source =>
            {
                source.Read(read =>
                {
                    read.Action("GetShifts", "Ajax");
                });
            })
    )
</div>
<div class="form-group">
    <label for="date">@Resources.Layout.Date</label>
    @Html.Kendo().DatePicker().Name("date").Culture("bg-BG").HtmlAttributes(new { style = "width:95%" })
</div>
<hr />
<div class="form-group">
    <button id="apply" type="button" class="btn btn-primary">@Resources.Layout.Apply</button>
</div>
