@{
    Layout = "~/Views/Shared/_KendoLayout.cshtml";
}
@section styles{
    @RenderSection("styles", required: false)
}
<div class="row">
    <div class="col-sm-2 col-md-2">
        <div class="container-fluid">

            <div class="well sidebar-nav">
                <ul class="nav nav-pills nav-stacked">
                    <li class="nav-header"><span class="glyphicon glyphicon-wrench"></span> Administration</li>
                    <li class='@(Request.RawUrl == @Url.Action("Index", "User", new { area = "Administration" }) ? "active" : string.Empty)'>
                        <a href="@Url.Action("Index", "User", new { area="Administration"})">Users</a>
                    </li>
                    <li class='@(Request.RawUrl == @Url.Action("Index", "Role", new { area = "Administration" }) ? "active" : string.Empty)'>
                        <a href="@Url.Action("Index", "Role", new { area="Administration"})">Roles</a>
                    </li>
                    <li class="nav-header"><span class="glyphicon glyphicon-signal"></span>  Statistics</li>
                    <li class='@(Request.RawUrl == @Url.Action("Index", "Events", new { area = "Administration" }) ? "active" : string.Empty)'>
                        <a href="@Url.Action("Index", "Events", new { area = "Administration" })">Application Log</a>
                    </li>
                    <li class='@(Request.RawUrl == @Url.Action("Index", "UserStatistics", new { area = "Administration" }) ? "active" : string.Empty)'>
                        <a href="@Url.Action("Index", "UserStatistics", new { area = "Administration" })">Users</a>
                    </li>
                    <li class='@(Request.RawUrl == @Url.Action("PublishMessage", "Message", new { area = "Administration" }) ? "active" : string.Empty)'>
                        <a href="@Url.Action("PublishMessage", "Message", new { area = "Administration" })">Global Messages</a>
                    </li>
                    <li class='@(Request.RawUrl == @Url.Action("Index", "EnteredByUserValues", new { area = "Administration" }) ? "active" : string.Empty)'>
                        <a href="@Url.Action("Index", "EnteredByUserValues", new { area = "Administration" })">EnteredByUserValues</a>
                    </li>
                    <li class="nav-header"><span class="glyphicon glyphicon-user"></span> Profile</li>
                    <li><a href="#">My profile</a></li>
                    <li><a href="#">Settings</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-10 col-md-10">
        @RenderBody()
    </div>
</div>
@section scripts{
    @RenderSection("scripts", required: false)
    <script>
        function restyle_grid() {
            $('a.k-button.k-button-icontext.k-grid-edit > span').removeClass().addClass('glyphicon glyphicon-edit');
            $('a.k-button.k-button-icontext.k-grid-edit').removeClass('k-button k-button-icontext').addClass('btn btn-primary btn-xs btn-kendo');
            $('a.k-button.k-button-icontext.k-grid-delete > span').removeClass().addClass('glyphicon glyphicon-trash')
            $('a.k-button.k-button-icontext.k-grid-delete').removeClass('k-button k-button-icontext').addClass('btn btn-danger btn-xs btn-kendo');
        }
    </script>
}