@using Resources = App_GlobalResources.Resources;

@model CollectingProductionDataSystem.Web.Areas.Administration.ViewModels.EditUserViewModel
<div class="form-group">
    <div class=" row">
        @Html.LabelFor(m => m.UserRoles, new { @class = "col-xs-4 control-label control-label-horizontal" })
        <div class="col-xs-8 multiselect-host">
            @(Html.Kendo()
              .MultiSelectFor(m=>m.UserRoles)
              .AutoClose(false)
              .DataTextField("Name")
              .DataValueField("Id")
              .Placeholder(@Resources.Layout.SlectRoles)
              .Value(Model.UserRoles)
              .DataSource(source =>
              {
                  source.Read(read =>
                  { read.Action("GetAllRoles", "Ajax", new { area = "Administration" }); })
                  .ServerFiltering(true);
              })
            )
        </div>
    </div>
</div>
<div class="form-group">
    <div class=" row">
        @Html.LabelFor(m => m.ProcessUnits, new { @class = "col-xs-4 control-label control-label-horizontal" })
        <div class="col-xs-8 multiselect-host">
            @(Html.Kendo()
              .MultiSelectFor(m=>m.ProcessUnits)
              .AutoClose(false)
              .DataTextField("Name")
              .DataValueField("Id")
              .Placeholder(@Resources.Layout.ChooseProcessUnits)
              .Value(Model.ProcessUnits)
              .DataSource(source =>
              {
                  source.Read(read =>
                  { read.Action("GetAllProcessUnits", "Ajax", new { area = "Administration" }); })
                  .ServerFiltering(true);
              })
            )
        </div>
    </div>
</div>
<div class="form-group">
    <div class=" row">
        @Html.LabelFor(m => m.Parks, new { @class = "col-xs-4 control-label control-label-horizontal" })
        <div class="col-xs-8 multiselect-host">
            @(Html.Kendo()
              .MultiSelectFor(m=>m.Parks)
             // .Name("inParks")
              .AutoClose(false)
              .DataTextField("Name")
              .DataValueField("Id")
              .Placeholder(@Resources.Layout.ChooseParks)
              .Value(Model.Parks)
              .DataSource(source =>
              {
                  source.Read(read =>
                  { read.Action("GetAllParks", "Ajax", new { area = "Administration" });})
                  .ServerFiltering(true);
              })
            )
        </div>
    </div>
</div>
