@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    @Styles.Render("~/Content/custom/documentation.css")
}

<aside class="col-sm-2 documentation">
    <nav class="panel panel-primary mypanel-primary">
        <div class="panel-heading mypanel-heading">
            Съдържание
        </div>
        <div class="panel-body">
            <div class="panel-group" role="tablist">
                <div class="panel mypanel">
                    <div class="panel-heading mypanel-heading" role="tab" id="collapseListGroupHeading11">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseListGroup11" aria-expanded="true" aria-controls="collapseListGroup11">
                                Сменни данни за отчети
                            </a>
                        </h4>
                    </div>
                    <div id="collapseListGroup11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading11" aria-expanded="false">
                        <ul class="list-group mylist-group">
                            <li class="list-group-item mylist-group-item">
                                @Ajax.ActionLink("Сменни данни за отчети", "ShiftData", "Help",
                                             new AjaxOptions() { HttpMethod = "Get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "mypage-content", LoadingElementId = "inprogress" })
                            </li>
                            <li class="list-group-item mylist-group-item">
                                @Ajax.ActionLink("Сменни данни за измервателни позиции", "ShiftDataMeasuringPosition", "Help",
                                             new AjaxOptions() { HttpMethod = "Get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "mypage-content", LoadingElementId = "inprogress" })

                            </li>
                            <li class="list-group-item mylist-group-item">
                                @Ajax.ActionLink("Сменни данни за наличности по резервоари", "ShiftDataTank", "Help",
                                                     new AjaxOptions() { HttpMethod = "Get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "mypage-content", LoadingElementId = "inprogress" })
                            </li>
                        </ul>

                    </div>
                </div>
            </div>

            <div class="panel-group" role="tablist">
                <div class="panel mypanel">
                    <div class="panel-heading mypanel-heading" role="tab" id="collapseListGroupHeading12">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseListGroup12" aria-expanded="true" aria-controls="collapseListGroup12">
                                Дневни данни за отчети
                            </a>
                        </h4>

                    </div>
                    <div id="collapseListGroup12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading12" aria-expanded="false">
                        <ul class="list-group mylist-group">
                            <li class="list-group-item mylist-group-item">
                                @Ajax.ActionLink("Дневни данни за отчети", "DailyData", "Help",
                                    new AjaxOptions() { HttpMethod = "Get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "mypage-content", LoadingElementId = "inprogress" })
                            </li>
                            <li class="list-group-item mylist-group-item">
                                @Ajax.ActionLink("Дневни данни за измервателни позиции - Материални потоци", "DailyDataMeasuringPosition", "Help",
                                             new AjaxOptions() { HttpMethod = "Get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "mypage-content", LoadingElementId = "inprogress" })
                            </li>
                            <li class="list-group-item mylist-group-item">
                                @Ajax.ActionLink("Дневни данни за измервателни позиции - Енергийни потоци", "DailyDataEnergyFlows", "Help",
                                             new AjaxOptions() { HttpMethod = "Get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "mypage-content", LoadingElementId = "inprogress" })
                            </li>
                            <li class="list-group-item mylist-group-item">
                                @Ajax.ActionLink("Сменни данни за измервателни позиции - отчет", "ShiftDataMeasuringPositionReport", "Help",
                                                 new AjaxOptions() { HttpMethod = "Get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "mypage-content", LoadingElementId = "inprogress" })
                            </li>
                            <li class="list-group-item mylist-group-item">
                                @Ajax.ActionLink("Данни за експедирани и доставени нефтопродукти", "DailyDataExpedition", "Help",
                                                 new AjaxOptions() { HttpMethod = "Get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "mypage-content", LoadingElementId = "inprogress" })
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>


            <div class="panel-group" role="tablist">
                <div class="panel mypanel">
                    <div class="panel-heading mypanel-heading" role="tab" id="collapseListGroupHeading16">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseListGroup16" aria-expanded="true" aria-controls="collapseListGroup16">
                                Месечни данни за отчети
                            </a>
                        </h4>

                    </div>
                    <div id="collapseListGroup16" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading16" aria-expanded="false">
                        <ul class="list-group mylist-group">
                            <li class="list-group-item mylist-group-item">
                                @Ajax.ActionLink("Месечни данни", "MonthlyData", "Help",
                                    new AjaxOptions() { HttpMethod = "Get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "mypage-content", LoadingElementId = "inprogress" })
                            </li>
                            <li class="list-group-item mylist-group-item">
                                @Ajax.ActionLink("Количества продукти във вътрешни тръбопроводи", "MonthlyDatаIndoorPipeLines", "Help",
                                             new AjaxOptions() { HttpMethod = "Get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "mypage-content", LoadingElementId = "inprogress" })
                            </li>
                            <li class="list-group-item mylist-group-item">
                                @Ajax.ActionLink("Количества продукти в технологични инсталации", "MonthlyDatаTechPlants", "Help",
                                                 new AjaxOptions() { HttpMethod = "Get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "mypage-content", LoadingElementId = "inprogress" })
                            </li>

                        </ul>
                    </div>
                </div>
            </div>



            <div class="panel-group" role="tablist">
                <div class="panel mypanel">
                    <div class="panel-heading mypanel-heading" role="tab" id="collapseListGroupHeading13">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseListGroup13" aria-expanded="true" aria-controls="collapseListGroup13">
                                Сводни отчети
                            </a>
                        </h4>
                    </div>
                    <div id="collapseListGroup13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading13" aria-expanded="false">
                        <ul class="list-group mylist-group">
                            <li class="list-group-item mylist-group-item">
                                @Ajax.ActionLink("Сводни отчети", "SummaryReport", "Help",
                                             new AjaxOptions()
                                             {
                                                 HttpMethod = "Get",
                                                 InsertionMode = InsertionMode.Replace,
                                                 UpdateTargetId = "mypage-content",
                                                 LoadingElementId = "inprogress"
                                             })
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="panel-group" role="tablist">
                <div class="panel mypanel">
                    <div class="panel-heading mypanel-heading" role="tab" id="collapseListGroupHeading14">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseListGroup14" aria-expanded="true" aria-controls="collapseListGroup14">
                                Номенклатури
                            </a>
                        </h4>
                    </div>
                    <div id="collapseListGroup14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading14" aria-expanded="false">
                        <ul class="list-group mylist-group">
                            <li class="list-group-item mylist-group-item">
                                @Ajax.ActionLink("Номенклатури", "HelpNomenclature", "Help",
                                             new AjaxOptions()
                                             {
                                                 HttpMethod = "Get",
                                                 InsertionMode = InsertionMode.Replace,
                                                 UpdateTargetId = "mypage-content",
                                                 LoadingElementId = "inprogress"
                                             })
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="panel-group" role="tablist">
                <div class="panel mypanel">
                    <div class="panel-heading mypanel-heading" role="tab" id="collapseListGroupHeading15">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseListGroup15" aria-expanded="true" aria-controls="collapseListGroup15">
                                Администрация
                            </a>
                        </h4>
                    </div>
                    <div id="collapseListGroup15" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading15" aria-expanded="false">
                        <ul class="list-group mylist-group">
                            <li class="list-group-item mylist-group-item">
                                @Ajax.ActionLink("Администрация", "HelpAdministration", "Help",
                                             new AjaxOptions()
                                             {
                                                 HttpMethod = "Get",
                                                 InsertionMode = InsertionMode.Replace,
                                                 UpdateTargetId = "mypage-content",
                                                 LoadingElementId = "inprogress"
                                             })
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>
    </nav>
</aside>
<article class="col-sm-10 documentation">
    <div id="inprogress" style="display:none;">
        <img src="~/Content/Images/loading.gif" />
    </div>
    <div id="mypage-content" class="container-fluid">
        @RenderBody()
    </div>
</article>

@section scripts{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
    <script src="~/Scripts/custom/documentation.js"></script>
    @RenderSection("scripts", false);
}


