@using Resources = App_GlobalResources.Resources;
@{
    ViewBag.Title = Resources.Layout.NomUploadTitle;
    Layout = "~/Views/Shared/_KendoLayout.cshtml";
}

<div class="container">
    <h2 class="text-center">@ViewBag.Title</h2>
    <hr />

    @Html.AntiForgeryToken()
    @(Html.Kendo().Upload()
            .Name("upload")
            .Async(async =>
                async.Save("Upload", "UploadNom")
                )
            .Multiple(false)
                            .Events(ev =>
                            {
                                ev.Success("uploadNom.OnSuccess");
                                ev.Error("uploadNom.OnError");
                            })
    )

    @* //Error window for kendo grid error event handler *@
    <div id="err-window" style="display:none">@Html.Partial("_KendoGridErrorWindow")</div>
    @* //Error window for kendo grid error event handler *@
    <div id="success-window" style="display:none">@Html.Partial("_SuccessWindow")</div>
</div>

@section scripts{
    @Scripts.Render("~/Scripts/custom/uploadNom.js")
    @Scripts.Render("~/bundles/custom/kendoadditional")
}


