@using CollectingProductionDataSystem.Web.Areas.ManagementDashBoard.Models;
@using Resources = App_GlobalResources.Resources
@model DashBoardViewModel
@Html.AntiForgeryToken()
<div class="container-fluid controlls-wraper">
    <div class="panel panel-default">
        <div class="panel-heading">
            Параметри на графиките
            <a role="button" id="collapse" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="pull-right"><span class="glyphicon glyphicon-chevron-up"></span></a>
        </div>
        <div class="panel-body collapse in" id="collapseOne">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label" for="form-group-input1">@Resources.Layout.PeriodBegining</label>
                        @(Html.Kendo().DatePicker()
                        .Name("begin-date")
                        .Value(DateTime.Now.AddDays(-32)).Max(DateTime.Now.AddDays(-1))
                        )
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label" for="form-group-input2">@Resources.Layout.PeriodEnd</label>
                        @(Html.Kendo().DatePicker()
                        .Name("end-date")
                        .Value(DateTime.Now.AddDays(-1)).Max(DateTime.Now.AddDays(-1))
                        )
                    </div>
                </div>
            </div>
            <div class="row chart-tumb-row">
                <hr class="control-delimiter" />
                <a href="#" id="convert" class="btn btn-primary">Приложи</a>
            </div>
        </div>
    </div>
</div>

@(Html.Kendo().TabStrip()
    .Name("charts-holder")
    .Items(items =>
    {
        items.Add().Text(@Resources.Layout.ProcessUnitLoading).Selected(true);//.Content(Html.AllProcessUnints(Model.ProcessUnitLoadStatistics).ToHtmlString());
        items.Add().Text("Отборни данни за инсталации");//.Content(Html.AllProcessUnints(Model.ProcessUnitStatistics).ToHtmlString());
    })
    
)


@* //Error window for kendo grid error event handler *@
<div id="err-window" style="display:none">@Html.Partial("_KendoGridErrorWindow")</div>
@* //Error window for kendo grid error event handler *@
<div id="success-window" style="display:none">@Html.Partial("_SuccessWindow")</div>

@section scripts
{
    @Scripts.Render("~/bundles/custom/kendoadditional")
    @Scripts.Render("~/bundles/custom/dashboard")
}
