@using Resources = App_GlobalResources.Resources

<div class="container-fluid controlls-wraper">
    <div class="panel panel-default">
        <div class="panel-heading">
            Параметри на графиките
            <a role="button" id="collapse" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="pull-right"><span class="glyphicon glyphicon-chevron-up"></span></a>
        </div>
        <div class="panel-body collapse in" id="collapseOne">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label" for="form-group-input1">@Resources.Layout.PeriodBegining</label>
                        @(Html.Kendo().DatePicker()
                        .Name("begin-date")
                        .Value(DateTime.Now.AddDays(-32)).Max(DateTime.Now.AddDays(-1))
                        )
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label" for="form-group-input2">@Resources.Layout.PeriodEnd</label>
                        @(Html.Kendo().DatePicker()
                        .Name("end-date")
                        .Value(DateTime.Now.AddDays(-1)).Max(DateTime.Now.AddDays(-1))
                        )
                    </div>
                </div>
            </div>
            <div class="row chart-tumb-row">
                <hr class="control-delimiter" />
                <input type="submit" class="btn btn-primary" value="Приложи" />
            </div>
        </div>
    </div>
</div>

@(Html.Kendo().TabStrip()
    .Name("charts-holder")
    .Items(items =>
    {
        items.Add().Text(@Resources.Layout.ProcessUnitLoading).Selected(true).Content("<div id='value1' class = 'tab-content'></div>");
        items.Add().Text("Нещо друго").Content("<div id='value2' class = 'tab-content'></div>");
        items.Add().Text("Отборни данни за инсталаций").Content(Html.Action("AllProcessUnitsProductionPlan").ToHtmlString());
        items.Add().Text("Други...").Content("<div id='value4' class = 'tab-content'></div>");

    })
    .Events(ev => ev.Activate("OnActivate"))
)




@section scripts
{
    <script>

        var Charts = [];
        $(function () {
            $('#collapseOne').on('hidden.bs.collapse', function () {
                var span = $('#collapse span');
                span.removeClass();
                span.addClass("glyphicon glyphicon-chevron-down")
            });

            $('#collapseOne').on('shown.bs.collapse', function () {
                var span = $('#collapse span');
                span.removeClass();
                span.addClass("glyphicon glyphicon-chevron-up");
            })
        });

        function OnActivate(ev) {
            var id = parseInt($(ev.item).attr("aria-controls").replace(/^\D+/g, ''));
            if (id !== 3) {
                GetTabValue(id);
            } else {
                var processUnits = $("[role=pu-chart-holder]");
                processUnits.each(function (index, holder) {
                    var id = $(holder).attr("id").replace("pu-", "");
                    GetHolderValue(id, holder);
                });
            }

        }

        function GetHolderValue(id, holder) {
            $.ajax({
                url: "/ManagementDashBoard/Dashboard/DailyMaterialChart",
                data: {
                    processUnitId: id,
                    beginDate: GetDate("#begin-date"),
                    endDate: GetDate("#end-date"),
                    height: 200,
                    shortTitle:true
                },
                success: function (data) {
                    $(holder).html(data);
                }
            });
        }


        function GetTabValue(id) {
            $.ajax({
                url: "/ManagementDashBoard/Dashboard/DailyMaterialChart?processUnitId=" + id + "&date=2016-03-31+00%3A00%3A00Z",
                success: function (data) {
                    $("#value" + (id)).html(data);
                }
            });
        }

        function GetDate(selector) {
            var datePicker = $(selector).data('kendoDatePicker');
            if (datePicker !== undefined) {
                var date = datePicker.value();
            } else {
                return;
            }

            return date.toISOString(kendo.culture().name);
        }
    </script>
}
