@using CollectingProductionDataSystem.Web.ViewModels.Tank;
@model TankDataViewModel

@{
    ViewBag.Title = "TankData";
    Layout = "~/Views/Shared/_KendoLayout.cshtml";
}

<div class="row">
    <div class="col-lg-3">
        @Html.Kendo().DateTimePicker().Name("date").Culture("bg-BG")
    </div>
    <div class="col-lg-3">
        <button id="apply" type="button" class="btn btn-primary">Apply Filter</button>
    </div>
</div>

@Html.AntiForgeryToken()
@(Html.Kendo()
      .Grid<TankDataViewModel>()
      .Name("tanks")
      .Columns(
           columns =>
           {
               columns.Bound(c => c.ParkName);
               columns.Bound(c => c.TankName).Width(100);
               columns.Bound(c => c.ProductName);
               columns.Bound(c => c.LiquidLevel);
               columns.Bound(c => c.ProductLevel);
               columns.Bound(c => c.NetStandardVolume);
               columns.Bound(c => c.ReferenceDensity);
               columns.Bound(c => c.WeightInAir);
               columns.Bound(c => c.WeightInVacuum);
               columns.Bound(c => c.FreeWaterLevel);
           })
          .Pageable(pageable => pageable
                .Refresh(true)
                    .PageSizes(new[] { 10, 20, 50, 100 })
                .ButtonCount(5))
      .Sortable()
      .Scrollable(scr => scr.Height(660))
      .Filterable()
      .DataSource(dataSource => dataSource
                                          .Ajax()
                                          .PageSize(20)
                                          .ServerOperation(true)
                                          .Read(read => read.Action("ReadTank", "Tests", new { area = "" })
                                                  .Data("sendDate")))
)

@section scripts{
    @Scripts.Render("~/Scripts/custom/sendAntiForgery.js")
    <script>
        kendo.culture("@System.Threading.Thread.CurrentThread.CurrentCulture.Name");

        var sendDate = function () {
            var result = { "date": $('input[name=date]').val() };
            $.extend(result, sendAntiForgery());
            return result;
        }

        function recordTimeStampFilter(element) {
            element.kendoDateTimePicker(); // initialize a Kendo UI DateTimePicker
        }

        $(document).ready(function () {
            $("#apply").click(function () {
                var grid = $("#tanks").data("kendoGrid");
                grid.dataSource.read();
                grid.refresh();
            });
        });

    </script>
}