@using CollectingProductionDataSystem.Models.Inventories;

@model TankData

<table class="table table-bordered table-striped">
    <thead>
        <tr class="bg-primary">
            <th>@Html.LabelFor(m => m.Id)</th>
            <th>@Html.LabelFor(m => m.RecordTimestamp)</th>
            <th>@Html.LabelFor(m => m.LiquidLevel)</th>
            <th>@Html.LabelFor(m => m.NetStandardVolume)</th>
            <th>@Html.LabelFor(m => m.WeightInAir)</th>
            <th>@Html.LabelFor(m => m.ReferenceDensity)</th>
            <th>@Html.LabelFor(m => m.CreatedOn)</th>
            <th>@Html.LabelFor(m => m.CreatedFrom)</th>
            <th>@Html.LabelFor(m => m.ModifiedOn)</th>
            <th>@Html.LabelFor(m => m.ModifiedFrom)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>@Html.DisplayFor(m => m.Id)</th>
            <th>@Html.DisplayFor(m => m.RecordTimestamp)</th>
            <th>@Html.DisplayFor(m => m.LiquidLevel)</th>
            <th>@Html.DisplayFor(m => m.NetStandardVolume)</th>
            <th>@Html.DisplayFor(m => m.WeightInAir)</th>
            <th>@Html.DisplayFor(m => m.ReferenceDensity)</th>
            <th>@Html.DisplayFor(m => m.CreatedOn)</th>
            <th>@Html.DisplayFor(m => m.CreatedFrom)</th>
            <th>@Html.DisplayFor(m => m.ModifiedOn)</th>
            <th>@Html.DisplayFor(m => m.ModifiedFrom)</th>
        </tr>
    </tbody>
</table>

@{ using (Html.BeginForm())
 {
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Modify Record</button>
    <div>
        @Html.EditorForModel(Model)
    </div>
 }
}


